<div class="col-xs-3">
			<h1>User info</h1>
				<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				<table class="table table-tag">
					<tr>
						<td>Name</td>
						<td><%= user.name %></td>
					</tr>
					<tr>
						<td>Introduction</td>
						<td><%= user.introduction %></td>
					</tr>
					<tr>
						<td>Follow</td>
						<td><%= link_to user.follower.count, following_path(user) %></td>
					</tr>
					<tr>
						<td>Follower</td>
						<td><%= link_to user.followed.count, followed_path(user) %></td>
					</tr>
				</table>

				 <!-- ユーザー編集画面 %> -->
				<% if user.id == current_user.id %>
					<%= link_to edit_user_path(user), class:'btn btn-default btn-block' do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
				<% end %>

				<% unless user == current_user %>
					<% if current_user.following?(user) %>
						<%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: "btn btn-danger" %>
					<% else %>
						<%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-primary" %>
					<% end %>
				<% end %>
			<h1>New book</h1>
			<%= form_for(book) do |f| %>

				<h4>Title</h4>
				<%= f.text_field :title, size: 35 %>
				<h4>Opinion</h4>
				<%= f.text_area :body, size:"34x3" %><br>
				<%= f.submit "Create Book", class:"btn btn-primary btn-block" %>
			<% end %>
		</div>
