<div class="container">
	<div class="row">
		<%= flash[:success] %>
		<%= flash[:notice] %>
		<%= render 'users/list', book: @books, user: @users %>

		<div class="col-xs-9">

			<h1>Books</h1>
			<table class="table table-default table-hover">
				<tr class="info">
					<th>Image</th>
					<th>Title</th>
					<th>Opinion</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<% @book.each do |book| %>
				<tr class="book_<%= book.id %>">
					<%= render "books/books", book: book %>
				</tr>



				<% end %>
			</table>
		</div>
	</div>
</div>
