<div class="col-xs-3">

			<h1>User info</h1>
			<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				<table class="table table-tag">
					<tr>
						<td>Name</td>
						<td><%= user.name %></td>
					</tr>
					<tr>
						<td>Introduction</td>
						<td><%= user.introduction %></td>
					</tr>
				</table>
				<% if user.id == current_user.id %>
					<%= link_to edit_user_path(user), class:'btn btn-default btn-block' do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
				<% end %>

			<h1>New book</h1>
			<%= form_for(book) do |f| %>
				<h4>Title</h4>
				<%= f.text_field :title, size: 35 %>
				<h4>Opinion</h4>
				<%= f.text_area :body, size: "34x3" %>
				<%= f.submit "Create Book", class:"btn btn-primary btn-block" %>
			<% end %>
</div>
