<div class="col-lg-3">
			<h1>User info</h1>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				<table class="table table-tag">
					<tr>
						<td>Name</td>
						<td><%= user.name %></td>

					</tr>
					<tr>
						<td>Introduction</td>
						<td><%= user.introduction %></td>
					</tr>
				</table>
				<% if user.id == current_user.id %>
				<%= link_to "profile edit", edit_user_path(user), class:"btn btn-info btn-block" %>
				<% end %>
			<h1>New book</h1>
			<%= form_for(book) do |f| %>

				<h4>Title</h4>
				<%= f.text_field :title %>
				<h4>Opinion</h4>
				<%= f.text_area :body %>
				<%= f.submit "Create Book", class:"btn btn-info btn-block" %>
			<% end %>
		</div>