<div class="container">
	<div class="row">
		<%= flash[:success] %>
		<%= flash[:notice] %>

		<%= render 'books/list', book: @new_book, user: @book.user %>
		<div class="col-xs-9">
			<h1>Book detail</h1>
			<table class="table table-default">
				<tr class="info">
					<%= render "books", book: @book %>
				</tr>
			</table>
			<h2>Comments</h2>
			<table class="table table-striped">
				<% @book.comments.each do |comment| %>
				<tr>
					<th><%= link_to comment.user.name, user_path(comment.user) %></th>
					<td><%= comment.content %></td>
					<% if comment.user.id == current_user.id %>
					<td><%= link_to "delete", book_comments_path(comment.book_id), method: :delete %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
				<br>
				<%= flash[:alert] %>
				<h2>Post comment</h2>
			<%= render "comments/comment", comment: @comment %>
		</div>
	</div>
</div>
