<div class="container">
	<div class="row">
		<%= flash[:success] %>
		<%= flash[:notice] %>

		<%= render 'books/list', book: @new_book, user: @book.user %>
		<div class="col-xs-9">
			<h1>Book detail</h1>
			<table class="table table-default">
				<tr class="book_<%= @book.id %>">
					<%= render "books", book: @book %>
				</tr>
			</table>
			<h2>Comments</h2>
			<table class="table table-striped", id="comment_area">
			    	<%= render "comments/comment" %>
			</table>
				<br>
				<%= flash[:alert] %>
				<h2>Post comment</h2>
			<%= render "comments/comment_form", comment: @comment %>
		</div>
	</div>
</div>
